/* ForgotPassword.css */
.forgot-password-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
}

.forgot-password-title {
    color: #333;
}

.forgot-password-input,
.forgot-password-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.forgot-password-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.forgot-password-button:hover {
    background-color: #45a049;
}

.forgot-password-message {
    color: #333;
}